<!-- <input type="text" [(ngModel)]="server_created">

<h1>{{server_name}}</h1>

<app-server *ngFor="let server of servers"></app-server>
<button class="btn btn-primary" [disabled]="!allow_new_server" (click)="onCreateServer()">
  Add server
</button> -->
<button (click)="visible = !visible; timesShowed();">
  <span *ngIf="!visible">Display</span>
  <span *ngIf="visible">Hide</span> Details
</button>
<p *ngIf="visible">Secret password: Dark Knight</p>
<ul>
  <li *ngFor="let times of times_showed; let i = index;" [ngClass]="{
		blueBack: i >= 4
	}">{{times}}</li>
</ul>
