<div class="row">

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <img src="" alt="" class="img-responsive">
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 `col-lg-12">
    <h1>Recipe name</h1>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="btn-group">
      <button class="btn btn-primary dropdown-toogle" type="button">
        Manage recipe
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a href="#">Add ingredients</a>
        </li>
        <li>
          <a href="#">Edit recipe</a>
        </li>
        <li>
          <a href="#">Delete recipe</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    Description
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    Ingredients
  </div>

</div>
