<div class="row">

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <form action="">
      <div class="row">

        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 form-group">
          <label for="name">Name</label>
          <input type="text" id="name" class="form-control">
        </div>

        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 form-group">
          <label for="amount">Amount</label>
          <input type="text" id="amount" name="amount">
        </div>

      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <button class="btn btn-success" type="submit">Add</button>
          <button class="btn btn-warning" type="button">Clear</button>
          <button class="btn btn-danger" type="button">Delete</button>
        </div>

      </div>
    </form>
  </div>

</div>
