<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <button class="btn btn-success">Add recipe</button>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <a href="" class="list-group-item clearfix" *ngFor="let recipe of recipes">
      <div class="pull-left">
        <h4 class="list-group-item-heading">{{recipe.name}}</h4>
        <p class="list-group-item-text">{{recipe.description}}</p>
      </div>
      <figure class="pull-right">
        <img src="{{recipe.image_path}}" alt="" class="img-responsive" style="max-height: 50px;">
      </figure>
    </a>
    <app-recipe-item></app-recipe-item>
  </div>
</div>
